@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Slimsy.Services
@using Slimsy
@using Slimsy.Extensions
@using Umbraco.Cms.Core.Models
@inject SlimsyService _slimsyService;
@{
	Layout = null;
}

<h1>Hello</h1>

<div style="max-width: 700px; width: 100%;">
    @if (Model.Picture != null)
    {
        <img srcset="@_slimsyService.GetSrcSetUrls(Model.Picture, 500, 0)" style="max-width: 100%; width: 100%" sizes="700px"/>

        <img srcset="@Url.GetSrcSetUrls(Model.Picture, 400, 400)"/>
    }

    @_slimsyService.ConvertImgToResponsive(Model.GetProperty("richText").GetSourceValue().ToString())
    
    @Html.ConvertImgToResponsive(Model.GetProperty("richText").GetSourceValue().ToString(), renderPicture: true) @*Probably not best to do it this way*@
    
    @Html.ConvertImgToResponsive(Model, "richText")
    
    <img src="@Url.GetCropUrl(Model.Picture, 500, 500, imageCropMode: ImageCropMode.Pad)"/>
    <img srcset="@Url.GetSrcSetUrls(Model.Picture, 500, 500, imageCropMode: ImageCropMode.Pad)"/>
</div>
